/* your styles go here */

    .iframe-container {    
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.iframe-container iframe,
.iframe-container object,
.iframe-container embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal.in .modal-dialog {
  transform: none; /*translate(0px, 0px);*/
}


        
.bulletList{display:block;}
.bulletList li{display:inline-block;}
.bulletList li:after{content:'|'; margin:0 10px;}
.bulletList li:before{content:''; }
