/* your styles go here */

    .iframe-container {    
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.iframe-container iframe,
.iframe-container object,
.iframe-container embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal.in .modal-dialog {
  transform: none; /*translate(0px, 0px);*/
}
        
.bulletList{display:block;}
.bulletList li{display:inline-block;}
.bulletList li:after{content:'|'; margin:0 10px;}
.bulletList li:before{content:''; }
.bulletList li:last-child:after{content:' ';}

#outsideWrap{
    width:80%;
    float:left;
    margin-left:auto;
    margin-right:auto;
    color:white;
    min-width:620px;
    max-width:1766px;
    
}

#outsideWrap{
    width:500px;
    
}
#textWrap{
    float: left;
margin: 10px;
height:auto;
width:auto;
}


#footerNav{
    width: 250px;
    float:none;
    margin: 0 0 3px 0;
    display:inline;
}

#footerNav li { 
    display: inline; 
    margin: 0 0 3px 0;
    padding:10px 20px;
}

/* Sweep To Top */
#footerNav ul>li:hover {
    background-color:lightgrey;: 0.3s;
  transition-duration: 0.3s;
}

.bulletList li{
    color:white;
    animation-name:headerSummary;
    animation-iteration-count:infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes headerSummary {
    0%   {color: green;}
    25%  {background-color: blue;}
    50%  {background-color: green;}
    100% {background-color: white;}
}

/* Standard syntax */
@-webkit-keyframes headerSummary {
    0%   {color: green;}
    25%  {background-color: blue;}
    50%  {background-color: green;}
    100% {background-color: white;}
}


/*Target mobile screens*/


/*
#footerImage {
    display: inline;
    float: left;
    width: 100px;
    height: auto;
    
    shape-image-threshold:0.9;
    shape-margin:20px;
}
#textWrap{
    padding-top:17%;
    padding-right:35px;
    shape-outside: url('../img/main.jpg');

}
*/