/* your styles go here */

    .iframe-container {    
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.iframe-container iframe,
.iframe-container object,
.iframe-container embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal.in .modal-dialog {
  transform: none; /*translate(0px, 0px);*/
}
        
.bulletList{display:block;}
.bulletList li{display:inline-block;}
.bulletList li:after{content:'|'; margin:0 10px;}
.bulletList li:before{content:''; }
.bulletList li:last-child:after{content:' ';}

#outsideWrap{
    width:80%;
    float:left;
    margin-left:auto;
    margin-right:auto;
    color:white;
    min-width:620px;
    max-width:1766px;
    
}

#outsideWrap{
    width:500px;
    
}
#textWrap{
    float: left;
margin: 10px;
height:auto;
width:auto;
}
/*
#footerImage {
    display: inline;
    float: left;
    width: 100px;
    height: auto;
    
    shape-image-threshold:0.9;
    shape-margin:20px;
}
#textWrap{
    padding-top:17%;
    padding-right:35px;
    shape-outside: url('../img/main.jpg');

}
*/